Data/*.txt
Data/FOOOF_Data/*
Data/Preprocessed/*
Data/Preprocessed_ordered_data/*
Data/RawData/*
!Data/RawData/.gitignore
Data/BehavioralData/*
!Data/BehavioralData/.gitignore
Data/Ready_for_DDTBOX/*

DataValidation/*

*.asv

Präregistrierung/*

ValidationSet/*

.Rhistory

*.Rproj

.Rproj.user/

__pycache__/

*.docx

Test_Partial_Correlations.m
