Data/*.txt
Data/FOOOF_Data/*
Data/Preprocessed/*
Data/Preprocessed_ordered_data/*
Data/RawData/*
!Data/RawData/.gitignore
Data/BehavioralData/*
!Data/BehavioralData/.gitignore
Data/Ready_for_DDTBOX/*

DataValidation/*

*.asv
*.csv
*.xlsx

Präregistrierung/*

ValidationSet/*

Results/*

.Rhistory

.Rproj.user/

__pycache__/

*.docx

*.pdf

*.pptx
